body {
    background-color: antiquewhite;
    font-size: 1.2em;
    font-family:Georgia, 'Times New Roman', Times, serif
}

header {
    display: flex;
    justify-content: space-evenly;
    border-bottom: dotted 5px plum;
    padding-bottom: 3%;
}

img {
    height: 200px;
    width: 250px;
}

main {
    margin: 5%;
}

ul {
    list-style-type: none;
}

footer {
    margin-top: 10%;
    text-align: center;
    font-size: 0.8em;
}

button {
    height: 100px;
    width: 200px;
    background-color: lightgray;
    border-radius: 5px;
    box-shadow: 10px 10px #999;
}
button:active{
    box-shadow: 5px 5px #999;
    background-image: url("");
    background-position: center;
}

#reset-button{
    height: 75px;
    width: 400px;
}

#reset {
    display: flex;
    justify-content: center;
}

#play {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10%;
}


.modal {
    display: none;
    position: fixed;
    background-image: url("https://cdn.pixabay.com/photo/2017/02/18/21/28/donut-2078288_960_720.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: solid blue 2px;
    width: 60%;
    height: 45%;
    padding: 2%;
    color: black;
    border-radius: 10px;
}

.modal-content {
    background-color: peachpuff;
    padding: 2%;
    background-size: cover;
    margin: 5%;
    border-radius: 10px;
}

.close {
    background-color: white;
    color: black;
    float: right;
    font-size: 40px;
    font-weight: bold;
    border-radius: 10px;
    width: 40px;
    text-align: center;
  }

.close:hover, .close:focus {

  cursor: pointer;
  background-color: red;
}

#modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links {
    height: 50px;
    width: 50px;
  }