body {
    background-color: antiquewhite;
}

header {
    display: flex;
    justify-content: space-evenly;
    border-bottom: dotted 5px plum;
}

ul {
    list-style-type: none;
}

footer {
    margin-top: 30%;
    text-align: center;
}

button {
    height: 60px;
    width: 120px;
}

#play {
    display: flex;
    justify-content: space-evenly;
}