body {
    background-color: antiquewhite;
    font-size: 1.2em;
}

header {
    display: flex;
    justify-content: space-evenly;
    border-bottom: dotted 5px plum;
    padding-bottom: 3%;
}

img {
    height: 200px;
    width: 250px;
}

main {
    margin: 5%;
}

ul {
    list-style-type: none;
}

footer {
    margin-top: 20%;
    text-align: center;
    font-size: 0.8em;
}

button {
    height: 100px;
    width: 200px;
    background-color: lightgray;
}

#reset-button{
    height: 75px;
    width: 400px;
}

#reset {
    display: flex;
    justify-content: center;
}

#play {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10%;
}


.modal {
    display: none;
    position: fixed;
    background-color: aqua;
    border: solid blue 2px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;

  }